<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	<meta http-equiv="Content-Language" content="en-us">
	<title>brainAI Documentation</title>
	<link rel="stylesheet" type="text/css" href="docs.css" />
</head>
<body>
<div id="container">
	<div id="header">
		<h1>GUMPS DOCUMENTATION</h1>
		<p>Version 1.5</b>, by <a href="mailto:AustinHeilman@Gmail.com">Austin Heilman</a>.</p>
		<hr>
		<h2>About</h2>
	</div>

	<div id="content">
		<p>This is a new gump system to replace the old one. 
			In this new system, gumps are handled in a more object 
			oriented manner, and are no longer dealt with globally. 
			The code is more optimized so the gumps will not take as 
			many cycles to be generated. 
		</p>
		<p>
			It was also setup so the function prototypes are similar 
			to the old one for faster migration times.
		</p>	
			Included is a text command, called previewgump.src that 
			shows how a gump can be assembled. It shows various tricks 
			and techniques that can be used to put one together.
		<p>	
			Also, the long list of graphical constants in the gumps.inc
			were removed and placed in a config file. See GumpCfgInfo()
			in gumps_ex.inc for more information.
		</p>
	</div>

	<div id="footer">
		<p>Last Update: $Id: about.html 375 2006-06-17 19:26:32Z austinheilman $</p>
	</div>
</div>
</body>
